node-red-dash.json
[
    {
        "id": "bba4aba8f9d733f3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c0f44bd30c92d5e",
        "type": "mqtt-broker",
        "name": "Living Room",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6f30803665e9cad9",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2eb6931249ce8801",
        "type": "ui_tab",
        "name": "DashBoard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89e77362bf3d129d",
        "type": "ui_group",
        "name": "Living Room",
        "tab": "2eb6931249ce8801",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e142be3b908952d6",
        "type": "ui_group",
        "name": "Time",
        "tab": "2eb6931249ce8801",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ddb08f322596d3f",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7918c1e9563a9bdf",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "33cd678f850fdfb4",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7918c1e9563a9bdf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "903903609bfcf4d9",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7918c1e9563a9bdf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c17950553dd53b9e",
        "type": "ui_group",
        "name": "Weather",
        "tab": "2eb6931249ce8801",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7376444d6893b276",
        "type": "ui_group",
        "name": "Server Details",
        "tab": "2eb6931249ce8801",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dafdac5f3491cd58",
        "type": "MySQLdatabase",
        "name": "HIRA DB",
        "host": "localhost",
        "port": "3306",
        "db": "hira_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "99dacc30770bf274",
        "type": "ui_group",
        "name": "Power",
        "tab": "2eb6931249ce8801",
        "order": 6,
        "disp": true,
        "width": 2,
        "collapse": false,
        "className": ""
    },
    {
        "id": "657060290e649c17",
        "type": "ui_group",
        "name": "commands",
        "tab": "2eb6931249ce8801",
        "order": 7,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0bc059bdcfb6afb",
        "type": "ui_group",
        "name": "Myself",
        "tab": "2eb6931249ce8801",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e34bafd9ebf26749",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "c17950553dd53b9e",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "fd494c0aecc2cb23",
        "type": "ui_switch",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "Light",
        "tooltip": "",
        "group": "89e77362bf3d129d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "lightbulb_outline",
        "oncolor": "lime",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "lightbulb_outline",
        "offcolor": "yellow",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "5a0b86b52782922b",
                "14fb9a01a2604f17"
            ]
        ]
    },
    {
        "id": "310082557ad83fd0",
        "type": "ui_switch",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "Fan",
        "tooltip": "",
        "group": "89e77362bf3d129d",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "wb_sunny",
        "oncolor": "lime",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "wb_sunny",
        "offcolor": "yellow",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "2369e1e7c99494c2",
                "bbd9f888ca668733"
            ]
        ]
    },
    {
        "id": "4837312bc800e8e4",
        "type": "ui_switch",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "Lamp",
        "tooltip": "",
        "group": "89e77362bf3d129d",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-shower",
        "oncolor": "lime",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-shower",
        "offcolor": "yellow",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "ce26fb55781987b4",
                "242ced2ffea91886"
            ]
        ]
    },
    {
        "id": "5a0b86b52782922b",
        "type": "mqtt out",
        "z": "bba4aba8f9d733f3",
        "name": "ESP1-LIGHT",
        "topic": "first/living/light",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c0f44bd30c92d5e",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "2369e1e7c99494c2",
        "type": "mqtt out",
        "z": "bba4aba8f9d733f3",
        "name": "ESP1-FAN",
        "topic": "first/living/fan",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c0f44bd30c92d5e",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "ce26fb55781987b4",
        "type": "mqtt out",
        "z": "bba4aba8f9d733f3",
        "name": "ESP1-LAMP",
        "topic": "first/living/lamp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c0f44bd30c92d5e",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "d4ba43a001d7cfcf",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "date",
        "func": "var d=new Date();\nvar day=d.getDate()  //day as a number 0 -31\nvar weekday=d.getDay()  //-weekday as a number  0-6\nvar month=d.getMonth() // month as a number 0-11\nmonth=month+1;\nvar year=d.getFullYear() //year as a four digit number (yyyy)\nvar hours=d.getHours() //the hour (0-23)\nvar minutes=d.getMinutes() //-the minute (0-59)\nvar seconds=d.getSeconds() //-the seconds (0-59)\nmsg.date=day+\"/\"+month+\"/\"+year;\nswitch (weekday)\n{\n  case 0:\n    wday = \"Sunday\";\n    break;\n  case 1:\n    wday = \"Monday\";\n    break;\n  case 2:\n     wday = \"Tuesday\";\n    break;\n  case 3:\n    wday = \"Wednesday\";\n    break;\n  case 4:\n    wday = \"Thursday\";\n    break;\n  case 5:\n    wday = \"Friday\";\n    break;\n  case 6:\n    wday = \"Saturday\";\n}\nmsg.wday=wday;\nmsg.time=hours+\":\"+minutes+\":\"+seconds;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "9f0a29836fe25c2b",
                "f0ca0905e53b6662",
                "bbf655ca85956ddc"
            ]
        ]
    },
    {
        "id": "2cb418ef379fe0c3",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "d4ba43a001d7cfcf"
            ]
        ]
    },
    {
        "id": "9f0a29836fe25c2b",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "e142be3b908952d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Date",
        "label": "",
        "format": "{{msg.date}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0ca0905e53b6662",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "e142be3b908952d6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "time",
        "label": "",
        "format": "{{msg.time}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "b91ec10ecc852bca",
        "type": "openweathermap in",
        "z": "bba4aba8f9d733f3",
        "name": "Weather forecast",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Thrissur",
        "country": "India",
        "language": "en",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "7ed079e6140868d4",
                "e5b74092b431890e",
                "51984d4d6f8cc052",
                "ed1caf145899e31a"
            ]
        ]
    },
    {
        "id": "7ed079e6140868d4",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "temp",
        "label": "Temperature",
        "format": "{{msg.payload.tempc}} °C",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "e5b74092b431890e",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "humidity",
        "label": "Humidity",
        "format": "{{msg.payload.humidity}} %",
        "layout": "col-center",
        "className": "",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "51984d4d6f8cc052",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Weather",
        "label": "Weather",
        "format": "{{msg.payload.weather}}",
        "layout": "col-center",
        "className": "",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "ed1caf145899e31a",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "location",
        "label": "City",
        "format": "{{msg.payload.location}}",
        "layout": "col-center",
        "className": "",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "179bbc6142328605",
        "type": "ui_gauge",
        "z": "bba4aba8f9d733f3",
        "name": "Temp",
        "group": "7376444d6893b276",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "3c47d098530a6ac7",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "7376444d6893b276",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "memory",
        "label": "<span class=\"material-icons-outlined\"> memory </span>",
        "format": "{{msg.payload}} %",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 860,
        "wires": []
    },
    {
        "id": "c7e4bd23a06aeeb9",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "7376444d6893b276",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Ram",
        "label": "RAM",
        "format": "{{msg.payload}} %",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "4ed1b30bd0eaeb45",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "7376444d6893b276",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "uptime",
        "label": "uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "37782628fd4e5164",
        "type": "ui_chart",
        "z": "bba4aba8f9d733f3",
        "name": "CPU Load",
        "group": "7376444d6893b276",
        "order": 2,
        "width": 6,
        "height": 3,
        "label": "Cpu Load",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5469a880315c92ec",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Server Info",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "23831eb2471188b4"
            ]
        ]
    },
    {
        "id": "d377882d35aed45a",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger DB",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM `raspi_info` WHERE id=1",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "5469a880315c92ec"
            ]
        ]
    },
    {
        "id": "23831eb2471188b4",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "var msg1={payload:msg.payload[0][\"id\"]};\nvar msg2={payload:msg.payload[0][\"temp\"]};\nvar msg3={payload:msg.payload[0][\"cpu_load\"]};\nvar msg4={payload:msg.payload[0][\"used_ram\"]};\nvar msg5={payload:msg.payload[0][\"used_mem\"]};\nvar msg6={payload:msg.payload[0][\"up_time\"]};\nvar msg7;\nif (msg.payload[0][\"connection\"]==1)\n    msg7={payload:\"UP\",colour:\"green\"};\nelse\n    msg7={payload:\"DOWN\",colour:\"red\"};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 860,
        "wires": [
            [
                "2fa90ede4335287d"
            ],
            [
                "179bbc6142328605"
            ],
            [
                "37782628fd4e5164"
            ],
            [
                "c7e4bd23a06aeeb9"
            ],
            [
                "3c47d098530a6ac7"
            ],
            [
                "4ed1b30bd0eaeb45"
            ],
            [
                "490898eaa15336ad"
            ]
        ]
    },
    {
        "id": "2db3b759300393f1",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Autoamtion",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "51b16989ac9063b3"
            ]
        ]
    },
    {
        "id": "1195649c42f9469c",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger DB",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM `home_automation` WHERE plac=\"living\" AND floor=\"first\"",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "2db3b759300393f1"
            ]
        ]
    },
    {
        "id": "51b16989ac9063b3",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "var msg1={payload:msg.payload[0][\"status\"]};\nvar msg2={payload:msg.payload[1][\"status\"]};\nvar msg3={payload:msg.payload[2][\"status\"]};\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "fd494c0aecc2cb23"
            ],
            [
                "310082557ad83fd0"
            ],
            [
                "4837312bc800e8e4"
            ]
        ]
    },
    {
        "id": "14fb9a01a2604f17",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "st=msg.payload==1?\"1\":\"0\";\nmsg={topic:\"UPDATE home_automation SET status = \"+st+\" WHERE id=4;\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "2676fe142f4e896b"
            ]
        ]
    },
    {
        "id": "2676fe142f4e896b",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Home Automation",
        "x": 1010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bbd9f888ca668733",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "st=msg.payload==1?\"1\":\"0\";\nmsg={topic:\"UPDATE home_automation SET status = \"+st+\" WHERE id=5;\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            [
                "2676fe142f4e896b"
            ]
        ]
    },
    {
        "id": "242ced2ffea91886",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "st=msg.payload==1?\"1\":\"0\";\nmsg={topic:\"UPDATE home_automation SET status = \"+st+\" WHERE id=6;\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 280,
        "wires": [
            [
                "2676fe142f4e896b"
            ]
        ]
    },
    {
        "id": "bbf655ca85956ddc",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "e142be3b908952d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Week day",
        "label": "",
        "format": "{{msg.wday}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "490898eaa15336ad",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "Wifi",
        "group": "7376444d6893b276",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{payload}}",
        "tooltip": "",
        "color": "{{colour}}",
        "bgcolor": "rgb(51,51,51)",
        "className": "",
        "icon": "wifi",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8c0fb537ad46bc78",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "shutdown",
        "group": "99dacc30770bf274",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-power-off",
        "payload": "sudo shutdown -h now",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "c9e9fba9db398f83"
            ]
        ]
    },
    {
        "id": "acfdf1b1b02be9f6",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "Reboot",
        "group": "99dacc30770bf274",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "reboot",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-repeat",
        "payload": "sudo reboot",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 1140,
        "wires": [
            [
                "c9e9fba9db398f83"
            ]
        ]
    },
    {
        "id": "c9e9fba9db398f83",
        "type": "exec",
        "z": "bba4aba8f9d733f3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 710,
        "y": 1120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e43c91b805928a6d",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "Wake Up",
        "group": "99dacc30770bf274",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "fa-bolt",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 1180,
        "wires": [
            [
                "8e92bf416a540e5f"
            ]
        ]
    },
    {
        "id": "688f3aae3b80d53c",
        "type": "exec",
        "z": "bba4aba8f9d733f3",
        "command": "/opt/vc/bin/vcgencmd get_throttled",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Voltage",
        "x": 440,
        "y": 980,
        "wires": [
            [
                "557bd28380b9431c"
            ],
            [],
            []
        ]
    },
    {
        "id": "4e1058699589a482",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Battery Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "688f3aae3b80d53c"
            ]
        ]
    },
    {
        "id": "557bd28380b9431c",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "msg.hex_val=msg.payload.replace(\"throttled=\",\"\").replace(\"\\n\",\"\");\nif(msg.hex_val==\"0x0\")\n{\n    msg.payload=\"green\"\n}\nelse\n{\n    msg.payload=\"red\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 980,
        "wires": [
            [
                "cb825d759526b792"
            ]
        ]
    },
    {
        "id": "cb825d759526b792",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "power",
        "group": "7376444d6893b276",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "{{payload}}",
        "bgcolor": "rgb(51,51,51)",
        "className": "",
        "icon": "battery_charging_full",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "d677b334d341a69d",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Hira Info",
        "x": 240,
        "y": 1180,
        "wires": [
            [
                "c5a7652d2c044a59"
            ]
        ]
    },
    {
        "id": "272b1f837bec2b1e",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger DB",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM `hira_info` WHERE id=1",
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "d677b334d341a69d"
            ]
        ]
    },
    {
        "id": "c5a7652d2c044a59",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "\nif (msg.payload[0][\"status\"]==1)\n    msg={label:\"sleep\",topic:\"kill \"+msg.payload[0][\"pid\"]};\nelse\n    msg={label:\"wake\",topic:\"export DISPLAY=:0 && lxterminal -e \\\"python3 /home/pi/HIRA/hira.py\\\"\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "e43c91b805928a6d"
            ]
        ]
    },
    {
        "id": "74fc66da1cc7fef2",
        "type": "exec",
        "z": "bba4aba8f9d733f3",
        "command": "",
        "addpay": "topic",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 810,
        "y": 1180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8e92bf416a540e5f",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "var msg1\nif(msg.payload==1)\n{\n    msg1={topic:msg.topic}\n}\nelse\n{\n    msg1={topic:null}\n}\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "74fc66da1cc7fef2"
            ]
        ]
    },
    {
        "id": "2fa90ede4335287d",
        "type": "debug",
        "z": "bba4aba8f9d733f3",
        "name": "Server Info",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "07432162cca09982",
        "type": "ui_text_input",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "send commands",
        "tooltip": "",
        "group": "657060290e649c17",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "0ae520ee92a33793"
            ]
        ]
    },
    {
        "id": "cd3be629d550eb7b",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "657060290e649c17",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "recent commands",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 1500,
        "wires": []
    },
    {
        "id": "0ae520ee92a33793",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "msg={topic:\"UPDATE run_commands SET command = '\"+msg.payload+\"',frm='node-red',exec=0 WHERE id=1;\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1440,
        "wires": [
            [
                "cf845f827b15f3f9",
                "98b084d3fc966160"
            ]
        ]
    },
    {
        "id": "cf845f827b15f3f9",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Hira Info",
        "x": 680,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "98b084d3fc966160",
        "type": "debug",
        "z": "bba4aba8f9d733f3",
        "name": "send_cmd_d",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1380,
        "wires": []
    },
    {
        "id": "27495435d29892c1",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Hira Info",
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "1049d361d67a635e"
            ]
        ]
    },
    {
        "id": "c413ee7c42763c67",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger DB",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM `commands_executed` WHERE id=(SELECT max(id) FROM commands_executed)",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "27495435d29892c1"
            ]
        ]
    },
    {
        "id": "f07c9b54b8e8adb1",
        "type": "debug",
        "z": "bba4aba8f9d733f3",
        "name": "exectd_cmd_d",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1600,
        "wires": []
    },
    {
        "id": "dcff32508114b098",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "cmd_status",
        "group": "657060290e649c17",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "{{colour}}",
        "bgcolor": "",
        "className": "",
        "icon": "{{icon}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "1049d361d67a635e",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "\nif (msg.payload[0][\"status\"]==\"1\")\n    msg={icon:\"check\",colour:\"lime\",payload:msg.payload[0][\"command\"]};\nelse\n    msg={icon:\"cross\",colour:\"red\",payload:msg.payload[0][\"command\"]};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1500,
        "wires": [
            [
                "cd3be629d550eb7b",
                "dcff32508114b098",
                "f07c9b54b8e8adb1"
            ]
        ]
    },
    {
        "id": "2876403e142620df",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "Left",
        "group": "657060290e649c17",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "keyboard_arrow_left",
        "payload": "left",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1840,
        "wires": [
            [
                "4d5661aa06ee5653"
            ]
        ]
    },
    {
        "id": "232878d59d05be67",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "up",
        "group": "657060290e649c17",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "keyboard_arrow_up",
        "payload": "up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1720,
        "wires": [
            [
                "4d5661aa06ee5653"
            ]
        ]
    },
    {
        "id": "8682e5ef94b9c2b3",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "down",
        "group": "657060290e649c17",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "keyboard_arrow_down",
        "payload": "down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1800,
        "wires": [
            [
                "4d5661aa06ee5653"
            ]
        ]
    },
    {
        "id": "b6f3a25f7f9d0b4a",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "right",
        "group": "657060290e649c17",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "keyboard_arrow_right",
        "payload": "right",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1680,
        "wires": [
            [
                "4d5661aa06ee5653"
            ]
        ]
    },
    {
        "id": "0a56061556661bee",
        "type": "ui_button",
        "z": "bba4aba8f9d733f3",
        "name": "stop",
        "group": "657060290e649c17",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "4d5661aa06ee5653"
            ]
        ]
    },
    {
        "id": "4d5661aa06ee5653",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "657060290e649c17",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "car control",
        "label": "controll: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d4ad8c76152f9c6a",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c0bc059bdcfb6afb",
        "order": 0,
        "width": "3",
        "height": "3",
        "name": "",
        "label": "HIRA",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 620,
        "y": 2000,
        "wires": []
    }
]
