node-red-dash.json
[
    {
        "id": "bba4aba8f9d733f3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c0f44bd30c92d5e",
        "type": "mqtt-broker",
        "name": "Living Room",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6f30803665e9cad9",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2eb6931249ce8801",
        "type": "ui_tab",
        "name": "DashBoard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89e77362bf3d129d",
        "type": "ui_group",
        "name": "Living Room",
        "tab": "2eb6931249ce8801",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e142be3b908952d6",
        "type": "ui_group",
        "name": "Time",
        "tab": "2eb6931249ce8801",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ddb08f322596d3f",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7918c1e9563a9bdf",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "33cd678f850fdfb4",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7918c1e9563a9bdf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "903903609bfcf4d9",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7918c1e9563a9bdf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c17950553dd53b9e",
        "type": "ui_group",
        "name": "Weather",
        "tab": "2eb6931249ce8801",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7376444d6893b276",
        "type": "ui_group",
        "name": "Server Details",
        "tab": "2eb6931249ce8801",
        "order": 4,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f01641a799396672",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "c17950553dd53b9e",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "738629dad93fcaa6",
        "type": "ui_spacer",
        "z": "bba4aba8f9d733f3",
        "name": "spacer",
        "group": "7376444d6893b276",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "dafdac5f3491cd58",
        "type": "MySQLdatabase",
        "name": "HIRA DB",
        "host": "localhost",
        "port": "3306",
        "db": "hira_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fd494c0aecc2cb23",
        "type": "ui_switch",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "Light",
        "tooltip": "",
        "group": "89e77362bf3d129d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "5a0b86b52782922b"
            ]
        ]
    },
    {
        "id": "310082557ad83fd0",
        "type": "ui_switch",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "Fan",
        "tooltip": "",
        "group": "89e77362bf3d129d",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "2369e1e7c99494c2"
            ]
        ]
    },
    {
        "id": "4837312bc800e8e4",
        "type": "ui_switch",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "label": "Lamp",
        "tooltip": "",
        "group": "89e77362bf3d129d",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "ce26fb55781987b4"
            ]
        ]
    },
    {
        "id": "5a0b86b52782922b",
        "type": "mqtt out",
        "z": "bba4aba8f9d733f3",
        "name": "ESP1-LIGHT",
        "topic": "first/living/light",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c0f44bd30c92d5e",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "2369e1e7c99494c2",
        "type": "mqtt out",
        "z": "bba4aba8f9d733f3",
        "name": "ESP1-FAN",
        "topic": "first/living/fan",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c0f44bd30c92d5e",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "ce26fb55781987b4",
        "type": "mqtt out",
        "z": "bba4aba8f9d733f3",
        "name": "ESP1-LAMP",
        "topic": "first/living/lamp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c0f44bd30c92d5e",
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4ba43a001d7cfcf",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "date",
        "func": "var d=new Date();\nvar day=d.getDate()  //day as a number 0 -31\nvar weekday=d.getDay()  //-weekday as a number  0-6\nvar month=d.getMonth() // month as a number 0-11\nmonth=month+1;\nvar year=d.getFullYear() //year as a four digit number (yyyy)\nvar hours=d.getHours() //the hour (0-23)\nvar minutes=d.getMinutes() //-the minute (0-59)\nvar seconds=d.getSeconds() //-the seconds (0-59)\nmsg.date=day+\":\"+month+\":\"+year;\nmsg.time=hours+\":\"+minutes+\":\"+seconds;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "9f0a29836fe25c2b",
                "f0ca0905e53b6662"
            ]
        ]
    },
    {
        "id": "2cb418ef379fe0c3",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "d4ba43a001d7cfcf"
            ]
        ]
    },
    {
        "id": "9f0a29836fe25c2b",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "e142be3b908952d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Date",
        "label": "",
        "format": "{{msg.date}}",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0ca0905e53b6662",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "e142be3b908952d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "time",
        "label": "",
        "format": "{{msg.time}}",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "b91ec10ecc852bca",
        "type": "openweathermap in",
        "z": "bba4aba8f9d733f3",
        "name": "Weather forecast",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Thrissur",
        "country": "India",
        "language": "en",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "7ed079e6140868d4",
                "e5b74092b431890e",
                "51984d4d6f8cc052",
                "ed1caf145899e31a"
            ]
        ]
    },
    {
        "id": "7ed079e6140868d4",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "temp",
        "label": "Temperature",
        "format": "{{msg.payload.tempc}} °C",
        "layout": "col-center",
        "className": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "e5b74092b431890e",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "humidity",
        "label": "Humidity",
        "format": "{{msg.payload.humidity}} %",
        "layout": "col-center",
        "className": "",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "51984d4d6f8cc052",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Weather",
        "label": "Weather",
        "format": "{{msg.payload.weather}}",
        "layout": "col-center",
        "className": "",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed1caf145899e31a",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "c17950553dd53b9e",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "location",
        "label": "City",
        "format": "{{msg.payload.location}}",
        "layout": "col-center",
        "className": "",
        "x": 340,
        "y": 480,
        "wires": []
    },
    {
        "id": "179bbc6142328605",
        "type": "ui_gauge",
        "z": "bba4aba8f9d733f3",
        "name": "Temp",
        "group": "7376444d6893b276",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "3c47d098530a6ac7",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "7376444d6893b276",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "memory",
        "label": "Memory",
        "format": "{{msg.payload}} %",
        "layout": "col-center",
        "className": "",
        "x": 660,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7e4bd23a06aeeb9",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "7376444d6893b276",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Ram",
        "label": "RAM",
        "format": "{{msg.payload}} %",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "4ed1b30bd0eaeb45",
        "type": "ui_text",
        "z": "bba4aba8f9d733f3",
        "group": "7376444d6893b276",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "uptime",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "37782628fd4e5164",
        "type": "ui_chart",
        "z": "bba4aba8f9d733f3",
        "name": "CPU Load",
        "group": "7376444d6893b276",
        "order": 2,
        "width": 5,
        "height": 4,
        "label": "Cpu Load",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5469a880315c92ec",
        "type": "mysql",
        "z": "bba4aba8f9d733f3",
        "mydb": "dafdac5f3491cd58",
        "name": "Server Info",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "23831eb2471188b4"
            ]
        ]
    },
    {
        "id": "d377882d35aed45a",
        "type": "inject",
        "z": "bba4aba8f9d733f3",
        "name": "Trigger DB",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM `raspi_info` WHERE id=1",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "5469a880315c92ec"
            ]
        ]
    },
    {
        "id": "23831eb2471188b4",
        "type": "function",
        "z": "bba4aba8f9d733f3",
        "name": "",
        "func": "var msg1={payload:msg.payload[0][\"id\"]};\nvar msg2={payload:msg.payload[0][\"temp\"]};\nvar msg3={payload:msg.payload[0][\"cpu_load\"]};\nvar msg4={payload:msg.payload[0][\"used_ram\"]};\nvar msg5={payload:msg.payload[0][\"used_mem\"]};\nvar msg6={payload:msg.payload[0][\"up_time\"]};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [],
            [
                "179bbc6142328605"
            ],
            [
                "37782628fd4e5164"
            ],
            [
                "c7e4bd23a06aeeb9"
            ],
            [
                "3c47d098530a6ac7"
            ],
            [
                "4ed1b30bd0eaeb45"
            ]
        ]
    }
]
